<div class="container">
    <div class="TextExpress">
        <div><h1>Express</h1></div>
        <div><h1>Buy USDT with UAH</h1></div>
        <div>P2P Express finds the best USDT buy offer for you from the current advertisements in the P2P Zone</div>
    </div>

    <div class="TradeExpress">
        <div><h1>Express</h1></div>
        <div><h1>Buy USDT with UAH</h1></div>
        <div>P2P Express finds the best USDT buy offer for you from the current advertisements in the P2P Zone</div>

</div>