.container {
    display: flex;      /* Включення flexbox, що дозволяє дочірнім елементам вирівнюватися горизонтально */
    flex-wrap: nowrap;  /* Запобігає переносу елементів на новий рядок */
    overflow-x: auto;   /* Додає горизонтальний скролінг, якщо контент не вміщується */
}

.TextExpress, .TradeExpress {
    display: flex;      /* Знову використовуємо flexbox для внутрішніх контейнерів */
    flex-grow: 1;       /* Дозволяє кожному блоку розширюватись для заповнення доступного простору */
    justify-content: space-around; /* Розподіляє простір навколо елементів всередині контейнера */
    align-items: center; /* Вирівнювання елементів по вертикалі */
    min-width: 300px;   /* Мінімальна ширина кожного блоку, щоб забезпечити читабельність */
    padding: 10px;      /* Внутрішні відступи для кращої візуалізації */
    border: 1px solid #f3ef52; /* Межа для візуалізації меж блоків */
    border-radius: 15px;
    box-sizing: border-box; /* Включає padding і border в загальну ширину елемента */
}

.TextExpress div, .TradeExpress div {
    text-align: center; /* Центрування тексту в кожному блоку */
}
