.app-header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center; /* Centralize the main container */
    align-items: center;
    width: 100%;
    position: relative; /* Allows absolute positioning relative to this container */
}


.header-left {
    margin-left: 40px; /* Adjusts left margin */
}

.header-right {
    margin-right: 40px; /* Adjusts right margin */
}

.header-center {
    flex: 1; /* Allows this element to grow and fill available space */
    justify-content: center; /* Centers child elements */
    display: flex;
}

.header-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; 
}

.header-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px; 
}
.header-center a, .header-right a {
    text-decoration: none;
    transition: color 0.5s ease; 
    padding: 7px 10px; 
    border-radius: 15px; 
}

img {
    width: auto; /* Adjusts width */
    height: 40px; /* Maintains aspect ratio */
}

.dark {
    /* background-color: #141518; */
    color: #141518;
}

.light {
    /* background-color: #E0E0E0; */
    color: #E0E0E0;
}

.header-center a:hover {
    color: #141518; 
    background-color: #f3ef52; /* Lighter shade when hovered */
    transform: scale(1.05);
}

.disabled {
  pointer-events: none;
  color: gray;
  cursor: default;
}

