<header class="app-header">
    <div class="container">
      <div class="header-left">
        <img [src]="logoSrc" alt="Logo">
      </div>
      <div class="header-center" >
        <ul>
        <li ><a  [ngClass]="toggleTheme" [routerLink]='["/online-market"]' >Online market</a></li>
        <li><a href="#" [ngClass]="toggleTheme">Offline market</a></li>
        <li><a href="#" [ngClass]="{'disabled': isDisabled, 'toggle-theme': toggleTheme}">Quick swap</a></li>
        <li><a href="#" [ngClass]="toggleTheme">Wallet</a></li>
        </ul>
      </div>
  

      <div class="header-right">
        <ul>
            <li >
                <app-theme></app-theme>
            </li>
            <li>
                <app-metamask></app-metamask> 
            </li>
        </ul>
      </div>
    </div>
  </header>

