:host {
    display: block;
    position: relative;
    height: 48px;
    width: 48px;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
