
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* styles.css */
body.light {
    background-color: #AEA7A3;
    color: #242323;
  }
  
  body.dark {
    background-color: #242323;
    color: #AEA7A3;
  }
  