
html, body { height: 100%; }
body { margin: 0; font-family: "Montserrat", sans-serif;
}
body.dark {
    background-color: #141518;
    color: #E0E0E0 ;
    
  }
  
  body.light {
    background-color: #E0E0E0 ;
    color: #141518;
  }
  